.container
  .row
    .small-12.columns
      %h1#title Social Media Word Cloud
  .row
    .small-6.columns
      %h3.subheader Recent Posts
      .post
        %p.strong
          Blobbert McBlobbington
        %p
          Happy Birthday
      .post
        %p.strong
          Blobbert McBlobbington
        %p
          Happy Birthday
      - @posts.each do |post|
        .post
          %p.strong
            = post.name
          %p
            = post.body
    .small-6-columns
      %h3.subheader Word Cloud
      #cloud
